@page "/car-tool"

@using ToolsApp.Models.Cars;

<header>
  <h3>Car Tool</h3>
</header>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var car in Cars)
    {
      <tr>
        <td>@car.Id</td>
        <td>@car.Make</td>
        <td>@car.Model</td>
        <td>@car.Year</td>
        <td>@car.Color</td>
        <td>@car.Price</td>
      </tr>
    }
  </tbody>
</table>

<form>
  <label>
    Make:
    <input type="text" @bind="@AddCarForm.Make" />
  </label>

  <label>
    Model:
    <input type="text" @bind="@AddCarForm.Model" />
  </label>

  <label>
    Year:
    <input type="text" @bind="@AddCarForm.Year" />
  </label>

  <label>
    Color:
    <input type="text" @bind="@AddCarForm.Color" />
  </label>

  <label>
    Price:
    <input type="text" @bind="@AddCarForm.Price" />
  </label>


  <button type="button" @onclick="AppendCar">Add Car</button>

</form>




@code {

  private CarForm AddCarForm = new();

  private List<Car> Cars { get; set; } = new()
  {
    new(1, "Tesla", "S", 2019, "blue", 120000.0M),
    new(2, "Ford", "Fusion Hybrid", 2020, "green", 45000.0M),
  };

  private void AppendCar()
  {
    Cars.Add(
      new(
        Cars.Max(c => c.Id) + 1,
        AddCarForm.Make,
        AddCarForm.Model,
        AddCarForm.Year,
        AddCarForm.Color,
        AddCarForm.Price
      )
    );

    AddCarForm = new();
  }


  class CarForm
  {
    public string Make { get; set; } = "";
    public string Model { get; set; } = "";
    public int Year { get; set; } = 1900;
    public string Color { get; set; } = "";
    public decimal Price { get; set; } = 0;
  }
}
