@page "/color-tool"

@using ToolsApp.Models.Colors

<header>
  <h3>Color Tool</h3>
</header>

<ul>
  @foreach (var color in Colors)
  {
    <li>@color.Name - @color.Hexcode</li>
  }
</ul>

<form>
  <label>
    Name:
    <input type="text" @bind="@AddColorForm.Name" />
  </label>

  <label>
    Hexcode:
    <input type="text" @bind="@AddColorForm.Hexcode" />
    @*<input type="text" value="@AddColorForm.Hexcode"
           @onchange="@( (ChangeEventArgs __e) => AddColorForm.Hexcode = __e.Value.ToString() )" />*@
  </label>

  <button type="button" @onclick="AppendColor">Add Color</button>

</form>


@code {

  private ColorForm AddColorForm = new();

  private List<Color> Colors { get; set; } = new()
  {
    new(1, "red", "ff0000"),
    new(2, "green", "00ff00"),
    new(3, "blue", "0000ff"),
  };

  private void AppendColor() {
    Colors.Add(
      new(Colors.Max(c => c.Id) + 1, AddColorForm.Name, AddColorForm.Hexcode)
    );

    AddColorForm = new();
  }

  class ColorForm {
    public string Name { get; set; } = "";
    public string Hexcode { get; set; } = "";
  }

}
